<div>
    <div class="info-bar row">
        <div class="col-xs-2">
            <div class="disc {{infoBarIcon}}"></div>
        </div>
        <div class="col-xs-10">
            <div class="message-bar">
                <span>{{message.text}}</span>
            </div>
        </div>
    </div>
    <div class="row game-container">
        <div class="col-xs-12">
            <table id="game-grid">
                <thead>
                    <tr>
                        <th ng-repeat="colNo in colIndices">
                            <button class="drop-button animated pulse" 
                                ng-disabled="!getCurrentPlayer() || !getCurrentPlayer().isUser" 
                                ng-click="getCurrentPlayer().makeMove(colNo)">
                                <i class="fa fa-arrow-circle-o-down"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rowNo in rowIndices">
                        <td ng-repeat="colNo in colIndices">
                            <div class="disc {{playerCache[getGrid()[colNo][rowNo]].discStyle}} animated bounceInDown" 
                                ng-if="getGrid()[colNo][rowNo] > 0">
                            </div>
                            <div class="disc {{playerCache[getGrid()[colNo][rowNo] * -1].discStyle}} animated blink" 
                                ng-if="getGrid()[colNo][rowNo] < 0">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>