<div class="container">
    <div class="info-bar well row">
        <input class="reset-button btn" type="button" ng-click="resetGame()" value="New Game"/>
        <span class="message-bar">
            <span>{{message}}</span>
            <span class="player-1-turn" ng-show="activePlayer == 1">It's your turn!</span>
            <span class="player-2-turn" ng-show="activePlayer == 2">I'm making a move...</span>
        </span>
    </div>
    <div id="game-container" class="row">
        <table id="game-grid">
            <thead>
                <tr>
                    <th ng-repeat="colNo in colIndices">
                        <input class="drop-button" ng-disabled="activePlayer == null || activePlayer != humanPlayer" type="button" ng-click="makeMove(activePlayer, colNo)" value="drop!" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rowNo in rowIndices">
                    <td ng-repeat="colNo in colIndices">
                        <div class="disc" ng-class="{ 'player-1-disc' : grid[colNo][rowNo] == 1, 'player-2-disc': grid[colNo][rowNo] == 2 }"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
