$navbar-color:#04202c;
$navbar-brand-color:#fff;

html, body {
	height: 100%;
}
body{
	margin: 0 auto;
	font-family: 'Nunito', 'Georgia', sans-serif;
	background-color:$page-color;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Nunito', 'Georgia', sans-serif;
}

.navbar{
	background-color:$navbar-color;
	margin-bottom: 0;
    height: 50px;
    line-height: 50px;
	.navbar-brand{
        margin: 9px 6px;
		font-size: 18px;
        height: 32px;
	 	color:$navbar-brand-color;
		font-family: 'Droid Sans', cursive;
		border-style: solid;
		border-width: 2px;
		border-color: $navbar-brand-color; 
		padding: 4px 6px;
		display:inline-block;
	}
}

.page-content{
	padding: 0;
}