$navbar-color:#04202c;
$navbar-brand-color:#fff;

html, body {
	height: 100%;
}
body{
	margin: 0 auto;
	font-family: 'Nunito', 'Georgia', sans-serif;
	background-color:$page-color;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Nunito', 'Georgia', sans-serif;
}

.navbar{
	background-color:$navbar-color;
	margin-bottom: 0;
    height: 80px;
    line-height: 80px;
	.navbar-brand{
        margin: 16px 10px;
		font-size: 28px;
        height: 46px;
	 	color:$navbar-brand-color;
		font-family: 'Droid Sans', cursive;
		border-style:solid;
		border-color: $navbar-brand-color; 
		padding: 10px;
		display:inline-block;
	}
}
