$color-red: #e63d3d;
$color-yellow: #e7d242;
$color-lilac: #e7d2ff;

$drop-button-color:#5b7065;
$reset-button-color:#5b7065;
$info-bar-color:#c9d1c8;
$info-bar-text-color:#04202c;

.disc{
	@include vendorize(border-radius, 50%);
	height:85%;
	width:85%;
	margin:auto;
	@include vendorize(animation-duration, 1s);	
	&.disc-style-red{
		background-color: $color-red;
	}
	&.disc-style-yellow{
		background-color: $color-yellow;
	}
	&.disc-style-lilac{
		background-color: $color-lilac;
	}
	&.disc-style-smiley{
		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f604.svg");
	}
	&.disc-style-rage{
		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f621.svg");
	}
	&.disc-style-thumbsup {
 		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f44d.svg"); 
  	}
	&.disc-style-thumbsdown {
  		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f44e.svg"); 
  	}
	&.disc-style-open_hands {
  		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f450.svg"); 
  	}
}

.game-container{
	margin:16px 8px;
	
	table#game-grid{
		margin: 0 auto;
		overflow: hidden;
		td, th{
			border: 2px solid $page-color;
		}
		td{
			background-color: #fff;
		}
	}

	.drop-button{
		height:62px;
		width: 100%;
		color:#fff;
		background-color:$drop-button-color;
		border-style:none;
		margin: 0;
		&:disabled{
			color:#ccc;
			background-color:desaturate( $drop-button-color, 80% );
		}
	}
}

.info-bar{
	background-color: $info-bar-color;
	height: 84px;
	padding: 10px;
	overflow: hidden;
	.disc{
		height:64px;
		width:64px;
	}
	
	.message-bar{
		color: $info-bar-text-color;
		font-size: 24px;
		text-align: center;
		line-height: 64px;
	}
	
	.button-container{
		line-height: 64px;
		.reset-button{
			color:#fff;
			background-color:$reset-button-color;
			&:hover, &:active, &:visited, &:focus{
				color:#fff;
			}
		}
	}
}

.animated.blink {
  @include vendorize(animation, blinker 1s linear infinite);
}

@include keyframes(blinker) {  
  50% { opacity: 0.0; }
}
