$color-red: #e63d3d;
$color-yellow: #e7d242;
$color-lilac: #e7d2ff;

$drop-button-color:#5b7065;
$reset-button-color:#5b7065;
$info-bar-color:#c9d1c8;
$info-bar-text-color:#04202c;


@include keyframes(blinker) {  
  50% { opacity: 0.0; }
}

@include keyframes(pulse) {  
	50% { color: rgba(255, 255, 255, 1); }
}

.animated.blink {
 	@include vendorize(animation, blinker 1s linear 20);
}

.animated.pulse{
	@include vendorize(animation, pulse 0.75s linear 3);
}

.reset-button{
	color:#fff;
	background-color:$reset-button-color;
	&:hover, &:active, &:visited, &:focus{
		color:#fff;
	}
}

.disc{
	@include vendorize(border-radius, 50%);
	@include vendorize(animation-duration, 1s);
	height:85%;
	width:85%;
	margin:auto;
	background-repeat: no-repeat;
	&.disc-style-red{
		background-color: $color-red;
	}
	&.disc-style-yellow{
		background-color: $color-yellow;
	}
	&.disc-style-lilac{
		background-color: $color-lilac;
	}
	&.disc-style-smiley{
		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f604.svg");
	}
	&.disc-style-rage{
		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f621.svg");
	}
	&.disc-style-thumbsup {
 		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f44d.svg"); 
  	}
	&.disc-style-thumbsdown {
  		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f44e.svg"); 
  	}
	&.disc-style-open_hands {
  		background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f450.svg"); 
  	}
}

.info-bar{
	background-color: $info-bar-color;
	padding: 1vh;
	
	> div{
		line-height: 8vh;
		margin: 1vh 0;
	}
	
	.disc{
		height:8vh;
		width:8vh;
	}
	
	.message-bar{
		color: $info-bar-text-color;
		background-color: lighten( $info-bar-color, 15% );
		font-size: 18px;
		text-align: center;
	}
}

.game-container{
	margin:16px 0px;
	
	table#game-grid{
		margin: 0 auto;
		overflow: hidden;
		td, th{
			border: 2px solid $page-color;
		}
		td{
			background-color: #fff;
		}
	}

	.drop-button{
		height:100%;
		width: 100%;
		background-color:$drop-button-color;
		border-style:none;
		margin: 0;
		color: rgba(255, 255, 255, 0.8);
		i {
			font-size:6vh;
		}
		&:hover{
			color:rgba(255, 255, 255, 0.8);
			background-color:saturate( $drop-button-color, 10% );
		}
		&:active{
			color:rgba(255, 255, 255, 0.8);
			background-color:saturate( $drop-button-color, 30% );
		}
		&:disabled{
			color:rgba(255, 255, 255, 0.3);
			background-color:desaturate( $drop-button-color, 80% );
			animation: none;
		}
	}
}
