$color-red: #e63d3d;
$color-yellow: #e7d242;
$drop-button-color:#A4D4B4;
$reset-button-color:#A4D4B4;
$info-bar-color:#fff;

$player-1-color: $color-red;
$player-2-color: $color-yellow;

table#game-grid{
	margin: 0 auto;
	background-color: #fff;
	td, th{
		border: 1px solid #ddd;
	}
}

.disc {
	@include vendorize(border-radius, 50%);
	height:85%;
	width:85%;
	margin:auto;
}

.player-1-disc {
	background-color: $player-1-color;
}
.player-2-disc {
	background-color: $player-2-color;
}

.drop-button{
	width:100%;
	height: 62px;
	color:#fff;
	background-color:$drop-button-color;
	border-style:none;

	&:disabled{
		color:#ccc;
		background-color:desaturate( $drop-button-color, 80% );
	}
}

.info-bar{
	background-color: $info-bar-color;
}

.message-bar{
	color: #5CA4A9;
	font-size: 1.4em;
	text-align: center;
}

.reset-button{
	color:#fff;
	background-color:$reset-button-color;
	margin-left: 10px;
	float:right;
	&:hover{
		color:#fff;
	}
}

.player-1-turn{
	color:$player-1-color;
}

.player-2-turn{
	color:$player-2-color;
}
