html, body {
	height: 100%;
}
body{
	margin: 0 auto;
	font-family: 'Nunito', 'Georgia', sans-serif;
	background-color:$page-color;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Nunito', 'Georgia', sans-serif;
}

.page-content{
	padding: 0;
}